altgraph==0.17.2
backports.entry-points-selectable==1.1.0
bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
coverage==5.5
distlib==0.3.3
doorstop==2.2b5
et-xmlfile==1.1.0
filelock==3.0.12
future==0.18.2
httplib2==0.19.1
idna==2.10
jdcal==1.4.1
joblib==1.0.1
Markdown==3.3.4
openpyxl==2.6.4
pefile==2021.9.3
plantuml==0.3.0
plantuml-markdown==3.4.2
platformdirs==2.3.0
pyficache==0.3.2
Pygments==2.9.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
PySide2==5.15.2
python-markdown-math==0.6
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
shiboken2==5.15.2
six==1.16.0
urllib3==1.26.4
